<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Basics.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mko" publicKeyToken="f4d93f46e53e0656" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.3.3.0" newVersion="7.3.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.diagnostics>
    <trace autoflush="true">
      <!-- Trace- Klasse konfigurieren -->
      <listeners>
        <!-- Hinzufügen eines Listeners, der in eine Datei protokolliert-->
        <add name="DemoListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="MyNeuTrace2.txt" />
      </listeners>
    </trace>
    <switches>
      <!-- Protokollieren aller Meldungen aus der Stapelverarbeitung-->
      <add name="MySwitch" value="3" />
      <add name="MySecoundSwitch" value="2" />
      <add name="DirTreeTraceSwitch" value="4" />
    </switches>
  </system.diagnostics>

  <applicationSettings>
    <Basics.Test.Properties.Settings>
      <setting name="MeineKonstante" serializeAs="String">
        <value>1.234</value>
      </setting>
    </Basics.Test.Properties.Settings>
  </applicationSettings>
</configuration>